<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="foundation.css">
    <link rel="stylesheet" href="app.css" />
    <meta charset="utf-8" />
    <title>Deck 7</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
